<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Bob Market: Gestion de vos grafity.
            {% endblock %}
            {% block link %}<!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

                 <link rel="stylesheet" href="header.html.css" type="text/css">
                 <link rel="stylesheet" href="footer.html.css" type="text/css">

                <!-- jQuery library -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                <!-- Latest compiled JavaScript -->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                <!-- Google fonts-->
                <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

                <!-- Font Awesome-->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

            {% endblock %}
        </title>
    </head>
    {% block header %}
            {% embed 'header_visitor.html.twig' %}{% endembed %}
    {% endblock %}
    <body style="background-color:dimgrey;color: black;">
    {% block body %}

    {% endblock %}
    </body>
    {% block footer %}
            {% embed 'footer.html.twig' %}{% endembed %}
    {% endblock %}
</html>