<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Bob Market: Gestion de vos grafity.
        {% endblock %}
        {% block link %}<!-- Latest compiled and minified CSS -->





    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        {% endblock %}
    </title>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0 text-content">
            <h4 class="text-uppercase mb-4 title-content">Adresse</h4>
            <a class="lead mb-0 content map-modal-link" data-toggle="modal" data-target="#team-location-modal">66 Rue Guy Môquet
                <br>94800 Villejuif</a>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0 text-content">
            <h4 class="text-uppercase mb-4 title-content">Autour du web</h4>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">

                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fab fa-2x fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <i class="fab fa-2x fa-google-plus-g"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#" >
                        <i class="fab fa-2x fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                        <
                </li>
            </ul>
        </div>
        <div class="col-md-4 text-content">
            <h4 class="text-uppercase mb-4 title-content">A propos de SmartBag</h4>
            <p class="lead mb-0 content">SmartBag est un petit projet créé par
                <a href="https://sigl.epita.fr/">l'équipe Bilbao</a>  de la promotion SIGL 2019.</p>
        </div>
    </div>
</div>
</html>