<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Bob Market: Gestion de vos grafity.
        {% endblock %}
        {% block link %}<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        {% endblock %}
    </title>
</head>

<nav class="navbar navbar-inverse navbar-custom bounce">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-left navbar-brand"><img src="../resources/smartbag_icon.png"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/">Accueil</a></li>
            <li class="nav-item"><a href="team_page">L'équipe</a></li>
            <li class="nav-item"><a href="product">Le Produit</a></li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Votre SmartBag
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="agenda">PLANNING</a></li>
                    <li><a href="geolocalization">GÉOLOCALISATION</a></li>
                    <li><a href="#">ABONNEMENTS</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="register" class="account-item"><span class="glyphicon glyphicon-user "></span><span class="nav-account">S'inscrire</span></a></li>
            <li><a class="account-item" class="lead mb-0 content map-modal-link" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span><span class="nav-account">Connexion</span></a></li>
        </ul>
    </div>
</nav>

</html>