{% extends "base.html.twig" %}


    {% block body %}
        {<div id="body">
        {{ form_start(form) }}
        {{ form_row(form.id_ticket) }}
        {{ form_row(form.id_user) }}


        <button type="submit">Envoyer!</button>
    </div>
    {% endblock %}