{% extends "base.html.twig" %}


    {% block body %}
        <div id="body">
            {% for tag in ticket %}
                <li>{{ tag.email}} -- Addresse </li>
            {% endfor %}
        </div>
    {% endblock %}